In [342]:
import pandas as pd
from itertools import chain

In [343]:
with open('input7.txt') as f:
    data = f.read().splitlines()
data = [sec.split() for sec in data]

for i in range(len(data)):
    data[i][0] = [char for char in data[i][0]]
    data[i][1] = int(data[i][1])

In [341]:
card_to_num = {"T": 10, "J": 11, "Q": 12, "K": 13, "A": 14}

In [335]:
n = len(data)

for i in range(n):
    m = len(data[i][0])

    for j in range(m):
        if data[i][0][j].isdigit():
            data[i][0][j] = int(data[i][0][j])
        else:
            data[i][0][j] = card_to_num[data[i][0][j]]
        
    data[i][1] = [data[i][1]]
    data[i] = list(chain(*data[i]))

data = pd.DataFrame(data)
data

      0   1   2   3   4    5
0    11   3  10   3  10  868
1     6  12   4   9   9  630
2     8  11   3  14  14  335
3    14   7   3  14  14  593
4     2   8   4   4   5  591
..   ..  ..  ..  ..  ..  ...
995  12   7  11  12   2  194
996   7   9   9   3  11  651
997   8   8   2   2  13  195
998   7  12  12   7   7  464
999   5   2   2   9   5  371

[1000 rows x 6 columns]

In [336]:
def hand_type(df):
    n = len(df)
    df[6] = 0

    for i in range(n):
        my_dict = {j:list(data.iloc[i][0:5]).count(j) for j in list(data.iloc[i])[0:5]}
        temp = []
        
        for j in range(len(my_dict)):
            temp.append(my_dict[list(my_dict)[j]])

        if 5 in temp:
            score = 7

        elif 4 in temp:
            score = 6
        
        elif 3 in temp and 2 in temp:
            score = 5
        
        elif 3 in temp:
            score = 4
        
        elif temp.count(2) == 2:
            score = 3
        
        elif max(temp) == 2:
            score = 2
        
        elif max(temp) == 1:
            score = 1


        df[6][i] = score


    return(df)

In [337]:
data = hand_type(data)
data

      0   1   2   3   4    5  6
0    11   3  10   3  10  868  3
1     6  12   4   9   9  630  2
2     8  11   3  14  14  335  2
3    14   7   3  14  14  593  4
4     2   8   4   4   5  591  2
..   ..  ..  ..  ..  ..  ... ..
995  12   7  11  12   2  194  2
996   7   9   9   3  11  651  2
997   8   8   2   2  13  195  3
998   7  12  12   7   7  464  5
999   5   2   2   9   5  371  3

[1000 rows x 7 columns]

In [338]:
n = len(data)
data = data.sort_values(by = [6, 0, 1, 2, 3, 4], ascending = False)
data[7] = 0
data[8] = 0

for i in range(n):
    data.iloc[i, 7] = n - i
    data.iloc[i, 8] = data.iloc[i, 5] * data.iloc[i, 7]

sum(data[8])

253954294

253954294